In [ ]:
# Instalar requerimientos del proyecto
%pip install -r requirements.txt

In [ ]:
import pandas as pd
from pathlib import Path

# Ruta al archivo CSV
# Fuente: https://www.kaggle.com/datasets/thedevastator/global-video-game-sales-ratings?select=Tagged-Data-Final.csv
csv_path = Path('data') / 'global_videogames_sales_2023.csv'

# Leer CSV en DataFrame
df = pd.read_csv(csv_path)

# Mostrar información básica
print(f"Filas: {len(df):,}  |  Columnas: {df.shape[1]}")
df.head()

Filas: 6,894  |  Columnas: 18

,Name,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Story Focus,Gameplay Focus,Series
0,.hack//Infection Part 1,2002.0,Role-Playing,Atari,0.49,0.38,0.26,0.13,1.27,75.0,35.0,8.5,60.0,CyberConnect2,T,x,NaN,x
1,.hack//Mutation Part 2,2002.0,Role-Playing,Atari,0.23,0.18,0.20,0.06,0.68,76.0,24.0,8.9,81.0,CyberConnect2,T,x,NaN,x
2,.hack//Outbreak Part 3,2002.0,Role-Playing,Atari,0.14,0.11,0.17,0.04,0.46,70.0,23.0,8.7,19.0,CyberConnect2,T,x,NaN,x
3,[Prototype],2009.0,Action,Activision,0.84,0.35,0.00,0.12,1.31,78.0,83.0,7.8,356.0,Radical Entertainment,M,NaN,x,x
4,[Prototype],2009.0,Action,Activision,0.65,0.40,0.00,0.19,1.24,79.0,53.0,7.7,308.0,Radical Entertainment,M,NaN,x,x

In [4]:
# Exploración básica del dataset

# 1) Dimensiones: número de filas y columnas del DataFrame
print("Dimensiones (filas, columnas):", df.shape)

# 2) Tipos de datos por columna: ayuda a detectar columnas que deberían ser numéricas o categóricas
print("\nTipos de datos por columna:")
print(df.dtypes)

# 3) Resumen estadístico de columnas numéricas: media, std, min, max, percentiles
print("\nResumen numérico (df.describe()):")
try:
    from IPython.display import display
    display(df.describe().T)
except Exception:
    print(df.describe().T)

Dimensiones (filas, columnas): (6894, 18)

Tipos de datos por columna:
Name                object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score         float64
User_Count         float64
Developer           object
Rating              object
Story Focus         object
Gameplay Focus      object
Series              object
dtype: object

Resumen numérico (df.describe()):

,count,mean,std,min,25%,50%,75%,max
Year_of_Release,6894.0,2007.482303,4.236401,1985.00,2004.00,2007.00,2011.00,2016.00
NA_Sales,6894.0,0.390920,0.963231,0.00,0.06,0.15,0.39,41.36
EU_Sales,6894.0,0.234517,0.684214,0.00,0.02,0.06,0.21,28.96
JP_Sales,6894.0,0.063867,0.286461,0.00,0.00,0.00,0.01,6.50
Other_Sales,6894.0,0.082000,0.268620,0.00,0.01,0.02,0.07,10.57
Global_Sales,6894.0,0.771487,1.954780,0.01,0.11,0.29,0.75,82.53
Critic_Score,6894.0,70.258486,13.861082,13.00,62.00,72.00,80.00,98.00
Critic_Count,6894.0,28.842472,19.194572,3.00,14.00,24.00,39.00,113.00
User_Score,6894.0,7.184378,1.439806,0.50,6.50,7.50,8.20,9.60
User_Count,6894.0,174.392370,584.872155,4.00,11.00,27.00,89.00,10665.00

In [6]:
# 4) Información general: conteo de no nulos, tipo de dato, uso de memoria
print("\nInformación del DataFrame (df.info()):")
df.info()

Información del DataFrame (df.info()):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6894 entries, 0 to 6893
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6894 non-null   object
 1   Year_of_Release  6894 non-null   float64
 2   Genre            6894 non-null   object
 3   Publisher        6893 non-null   object
 4   NA_Sales         6894 non-null   float64
 5   EU_Sales         6894 non-null   float64
 6   JP_Sales         6894 non-null   float64
 7   Other_Sales      6894 non-null   float64
 8   Global_Sales     6894 non-null   float64
 9   Critic_Score     6894 non-null   float64
 10  Critic_Count     6894 non-null   float64
 11  User_Score       6894 non-null   float64
 12  User_Count       6894 non-null   float64
 13  Developer        6890 non-null   object
 14  Rating           6826 non-null   object
 15  Story Focus      767 non-null    object
 16  Gameplay Focus   6586 non-null   object
 17  Series           791 non-null    object
dtypes: float64(10), object(8)
memory usage: 969.6+ KB

In [7]:
# 5) Conteo de valores únicos por columna: útil para entender cardinalidad de variables
print("\nValores únicos por columna (df.nunique()):")
print(df.nunique())

Valores únicos por columna (df.nunique()):
Name               4424
Year_of_Release      25
Genre                12
Publisher           271
NA_Sales            351
EU_Sales            273
JP_Sales            157
Other_Sales         144
Global_Sales        536
Critic_Score         81
Critic_Count        106
User_Score           89
User_Count          881
Developer          1304
Rating                7
Story Focus           1
Gameplay Focus        1
Series                1
dtype: int64